:global(:root) {
  --darkPrimaryColor: #388e3c;
  --defaultPrimaryColor: #4caf50;
  --lightPrimaryColor: #c8e6c9;
  --textPrimaryColor: #fff;
  --accentColor: #03a9f4;
  --primaryTextColor: #212121;
  --secondaryTextColor: #757575;
  --dividerColor: #bdbdbd;
}
