.root {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
  padding: 0;
  justify-content: center;
}

.nav {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.link {
  flex: 1;
  line-height: 42px;
}

.active {
  position: relative;
  font-weight: bold;
}

.active::after {
  content: '';
  width: 70%;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 10px;
  background-color: var(--accentColor);
  left: 15%;
}
